.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.experimentInfo, .logList {
    margin: 1em;
    background: #d9d9d9d1;
    padding: 1.4em;
    border-radius: 10px;
}
.staffView {
    margin: 10px;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.experimentList {
    display: flex;
    flex-direction: column;
}

.experiment {
    margin: 10px;
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid #d9d9d9d1;
    padding: 16px;
}

.experiment h3 {
    border: 2px solid #d9d9d9d1;
    padding: 10px;
}

.apparatusWrapper {
    border: 2px solid #d9d9d9d1;
    padding: 10px;
}

.apparatusArr {
    font-family: 'Lexend', sans-serif;
}
.experiment > * {
    margin: 2px;
}

.logList {
    display: flex;
    flex-direction: column;
}

.log {
    margin: 10px;
    background: #d9d9d969;
    border-radius: 8px;
    border: 2px solid #d9d9d9d1;
    padding: 16px;
}

.logDetail { 
    margin: 4px;
}

.apparatusInfo {
    margin: 10px;
    padding: 16px;
    background: #ffffff;
    border: 2px solid #d9d9d9d1;
}

.apparatusList {
    margin: 10px;
}

.signed-in {
    margin: 10px;
    padding: 16px;
}

.sign-in {
    margin: 10px;
    padding: 16px;
}